@page "/emrat"

<h3>Emrat</h3>

@if (Emrat == null)
{
    <span>Loading...</span>
}
else
{
    <a href="/krijoemer" class="btn btn-primary">Regjistro një em&euml;r t&euml; ri</a>
    <div class="row mt-3">
        <div class="col-md-3 col-sm-12">
            <ul class="list-group">

                @for (int i = 0; i < Emrat.Count; i++)
                {
                    var q = i;
                    var active = EmriIZgjedhur == Emrat[q];

                    <li class="list-group-item d-flex justify-content-between align-items-center @((active)?" active":"")">
                        <a class="btn btn-link @((active)?" text-white":"")" href="javascript:void(0);" @onclick="@(()=>EmriIZgjedhur = Emrat[q])">@Emrat[q].NjejesiPashquar, @Emrat[q].NjejesiShquar, @Emrat[q].ShumesiShquar</a>
                    </li>


                }
            </ul>
        </div>
        @if (EmriIZgjedhur != null)
        {
            <div class="col-md-3 col-sm-12">

                @{
                    var p = EmriIZgjedhur.Pershkrimet.Split(Globals.Separator);
                }
                <ul class="list-group">

                    <ListItemJustified Left="Trajta e pa shquar" Right="@EmriIZgjedhur.NjejesiPashquar" />
                    <ListItemJustified Left="Trajta e shquar" Right="@EmriIZgjedhur.NjejesiShquar" />
                    <ListItemJustified Left="Gjinia" Right="@EmriIZgjedhur.Gjinia.ToString()" />
                    <ListItemJustified Left="Shumësi" Right="@EmriIZgjedhur.ShumesiShquar" />
                    <li class="list-group-item">
                        <label>P&euml;rshkrimet</label>
                        <div>

                            @for (int j = 0; j < p.Length; j++)
                            {
                                <ol class="list-group small">
                                    <li class="list-group-horizontal ml-3">
                                        @p[j]
                                    </li>
                                </ol>
                            }
                        </div>

                    </li>


                </ul>





            </div>

            <div class="col-md-3 col-sm-12">


                <ul class="list-group">


                    <li class="list-group-item">
                        <label>Lakimi (trajta e pa shquar)</label>
                        <div>
                            <table class="table table-sm table-borderless small">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Njëjës</th>
                                        <th>Shumës</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Emrore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesPashquar.Emerore</td>
                                        <td>@EmriIZgjedhur.RasatShumesPashquar.Emerore</td>
                                    </tr>
                                    <tr>
                                        <th>Gjinore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesPashquar.Gjinore</td>
                                        <td>@EmriIZgjedhur.RasatShumesPashquar.Gjinore</td>
                                    </tr>
                                    <tr>
                                        <th>Dhanore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesPashquar.Dhanore</td>
                                        <td>@EmriIZgjedhur.RasatShumesPashquar.Dhanore</td>
                                    </tr>
                                    <tr>
                                        <th>Kallzore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesPashquar.Kallzore</td>
                                        <td>@EmriIZgjedhur.RasatShumesPashquar.Kallzore</td>
                                    </tr>
                                    <tr>
                                        <th>Rrjedhore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesPashquar.Rrjedhore</td>
                                        <td>@EmriIZgjedhur.RasatShumesPashquar.Rrjedhore</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>


                </ul>





            </div>

            <div class="col-md-3 col-sm-12">


                <ul class="list-group">


                    <li class="list-group-item">
                        <label>Lakimi (trajta e shquar)</label>
                        <div>
                            <table class="table table-sm table-borderless small">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Njëjës</th>
                                        <th>Shumës</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Emrore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesShquar.Emerore</td>
                                        <td>@EmriIZgjedhur.RasatShumesShquar.Emerore</td>
                                    </tr>
                                    <tr>
                                        <th>Gjinore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesShquar.Gjinore</td>
                                        <td>@EmriIZgjedhur.RasatShumesShquar.Gjinore</td>
                                    </tr>
                                    <tr>
                                        <th>Dhanore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesShquar.Dhanore</td>
                                        <td>@EmriIZgjedhur.RasatShumesShquar.Dhanore</td>
                                    </tr>
                                    <tr>
                                        <th>Kallzore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesShquar.Kallzore</td>
                                        <td>@EmriIZgjedhur.RasatShumesShquar.Kallzore</td>
                                    </tr>
                                    <tr>
                                        <th>Rrjedhore:</th>
                                        <td>@EmriIZgjedhur.RasatNjejesShquar.Rrjedhore</td>
                                        <td>@EmriIZgjedhur.RasatShumesShquar.Rrjedhore</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>


                </ul>





            </div>

        }

    </div>


}


@using Model

@inject HttpClient Http
@inject NavigationManager  NavigationManager
@inject IJSRuntime JS

@attribute [Authorize]

@code {

    public List<Emer> Emrat { get; set; }

    private Emer EmriIZgjedhur { get; set; }




    protected async override Task OnInitializedAsync()
    {
        var token = await JS.GetFromLocalStorage(Shqip.Auth.JWTAuthenticationProvider.TOKENKEY);

        if (Http.BaseAddress == null)
        {
            Http.BaseAddress = new Uri(NavigationManager.BaseUri);
        }

        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("bearer", token);

        var r = await Http.GetAsync("api/Emrat");
        var json = (await r.Content.ReadAsStringAsync());
        Emrat = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Model.Emer>>(json);


    }


}
